<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      To Do App</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a (click)="Logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" *ngIf="user">
  <div class="row col s12 m7">
    <div class="card">
      <div class="card-content">
        <span>Username: {{user.userName}}</span>
        <br>
        <span>Email: {{user.email}}</span>
        <br>
        <span>Full Name: {{user.firstName}} {{user.lastName}}</span>
      </div>
    </div>
  </div>
</div>