<!-- <div class="sign-up-container">
  <div class="sign-up-header">
    Zarejestruj się
  </div>

  <form class="forms-container" #userRegistrationForm="ngForm">
    
    <mat-form-field style="grid-area: 1 / 1 / 2 / 2;">
      <input type="text" matInput placeholder="Nazwa użytkownika" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
      <mat-error>Pole wymagane</mat-error>
    </mat-form-field>
    
    <mat-form-field style="grid-area: 1 / 2 / 2 / 3;">
      <input type="text" matInput placeholder="Hasło" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="6">
      <mat-error>Pole wymagane (co najmniej 6 znaków)</mat-error>
    </mat-form-field>

    <mat-form-field style="grid-area: 2 / 1 / 3 / 3;">
      <input type="text" matInput placeholder="E-mail" name="Email" #Email="ngModel" [(ngModel)]="user.Email">
    </mat-form-field>

    <mat-form-field style="grid-area: 3 / 1 / 4 / 2;">
      <input type="text" matInput placeholder="Imię" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
    </mat-form-field>

    <mat-form-field style="grid-area: 3 / 2 / 4 / 3;">
      <input type="text" matInput placeholder="Nazwisko" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
    </mat-form-field>

    <button mat-raised-button style="grid-area: 4 / 1 / 5 / 3;" type="submit" color="primary">Wyślij</button>

  </form>    

</div>

 -->


      <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="userName" #userName="ngModel" [(ngModel)]="user.userName" required>
            <label data-error="Pole wymagane!">UserName *</label>
          </div>
          <div class="input-field col s6">
            <input class="validate" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required  minlength="6">
            <label [attr.data-error]="password.errors!=null?(password.errors.required?'Pole wymagane!':'Co najmniej 6 znaków!'):''">Password *</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input class="validate" type="text" name="email" #email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern">
            <label data-error="Niepoprawny adres e-mail!">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName">
            <label>First Name</label>
          </div>
          <div class="input-field col s6">
            <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName">
            <label>Last Name</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
            </div>
          </div>
      </form>

